*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #B59A8D;
}

.container{
    background-color: #4F5E8C;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #D3CEC5;
    max-width: 900px;
    letter-spacing: 1px;
    font-family: 'Chilanka', cursive;
    margin: 0 auto;
}
